---
import ApplicationForm from "~/components/ApplicationForm.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Apply — Critical Systems Analysis">
  <div class="text-primary-400 mx-auto max-w-7xl px-8 pb-16">
    <p
      class="mt-16 text-center font-bold tracking-wide text-blue-500 uppercase sm:mt-32"
    >
      Critical Systems Analysis
    </p>
    <h1
      class="text-primary-100 mt-2 text-center text-4xl font-bold tracking-tight md:text-5xl"
    >
      Application
    </h1>
    <ApplicationForm />
  </div>
</Layout>
