---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Not found">
  <section class="flex flex-col items-center justify-center px-6 py-28 lg:px-8">
    <p class="text-base font-semibold text-blue-600">404</p>
    <h1
      class="text-primary-100 mt-4 text-5xl font-semibold tracking-tight text-balance sm:text-7xl"
    >
      Page not found
    </h1>
    <p class="text-primary-400 mt-6 max-w-prose sm:text-lg">
      Sorry, the page you are looking for could not be found.
    </p>
    <a
      href="/"
      class="text-primary-100 mt-6 cursor-pointer rounded-full bg-blue-600 px-6 py-3 text-center font-semibold transition hover:bg-blue-700"
      >Back to homepage</a
    >
  </section>
</Layout>
