---
export const prerender = false;
const random = Math.random();
---

<html>
  <head>
    <title>FooBar</title>
  </head>
  <body>
    <h1>FooBar</h1>
    <p>Random number: {random}</p>
  </body>
</html>
