---
import { Image } from "astro:assets";
import Layout from "~/layouts/Layout.astro";
import logo from "~/assets/csa-logo.webp";
import trainImage from "~/assets/train.webp";
---

<Layout
  title="Free Workshop  — Critical Systems Analysis"
  includeHeader={false}
>
  <div class="bg-primary-800 text-primary-300 px-8 py-3 text-center sm:px-12">
    Some banner content
  </div>
  <Image
    class="mx-auto my-8 block h-12 w-auto"
    src={logo}
    loading="eager"
    width={140}
    alt="Critical Systems Analysis company logo"
  />
  <section
    class="bg-primary-800 border-primary-700 mx-auto mb-12 grid max-w-7xl grid-cols-1 gap-12 border p-8 sm:p-12 lg:grid-cols-2 xl:rounded-lg"
  >
    <div class="text-primary-400">
      <p class="uppercase">Credibility</p>
      <h1 class="text-primary-300 mt-2 text-3xl font-bold">Some headline</h1>
      <p class="mt-4">
        Join us for a free workshop on critical systems analysis. This workshop
        will cover the basics of critical systems analysis and how it can be
        used to improve your organization's systems and processes.
      </p>
      <p class="mt-4">Topics covered will include:</p>
      <ul class="mt-4 flex flex-col gap-4 leading-relaxed">
        <li class="flex gap-3">
          <span
            class="text-primary-100 size-6 shrink-0 rounded-full bg-blue-600 p-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="h-full w-full fill-current"
            >
              <path
                fill-rule="evenodd"
                d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
                clip-rule="evenodd"></path>
            </svg>
          </span>
          <span> Introduction to critical systems analysis </span>
        </li>
        <li class="flex gap-3">
          <span
            class="text-primary-100 size-6 shrink-0 rounded-full bg-blue-600 p-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="h-full w-full fill-current"
            >
              <path
                fill-rule="evenodd"
                d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
                clip-rule="evenodd"></path>
            </svg>
          </span>
          <span> Benefits of critical systems analysis </span>
        </li>
        <li class="flex gap-3">
          <span
            class="text-primary-100 size-6 shrink-0 rounded-full bg-blue-600 p-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="h-full w-full fill-current"
            >
              <path
                fill-rule="evenodd"
                d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z"
                clip-rule="evenodd"></path>
            </svg>
          </span>
          <span>
            How to apply critical systems analysis to your organization
          </span>
        </li>
      </ul>
      <a
        href="#"
        class="text-primary-100 mt-6 block cursor-pointer rounded-full bg-blue-600 px-6 py-3 text-center font-semibold hover:bg-blue-700"
        >Register now to reserve your spot!</a
      >
    </div>
    <Image
      class="aspect-square w-full rounded-lg object-cover xl:aspect-[4/3]"
      src={trainImage}
      alt="Workshop"
    />
  </section>
</Layout>
