---
import { Image } from "astro:assets";
import Carousel from "~/components/Carousel.astro";
import Layout from "~/layouts/Layout.astro";
import safetyImage from "~/assets/safety-access.webp";
import trainImage from "~/assets/train.webp";
import weldingRobotImage from "~/assets/welding-robot-arm.webp";
import { bookingLink } from "~/content/constants";
---

<Layout>
  <div class="mx-auto max-w-7xl px-6 pb-16 lg:px-8">
    <h1
      class="text-primary-100 mt-16 text-center text-5xl font-bold tracking-tighter text-balance sm:mt-32 sm:text-6xl"
    >
      Critical Systems Analysis
    </h1>
    <p class="text-primary-400 mt-6 text-center sm:text-lg">
      Leading Safety in Automation with Integrity and Respect
    </p>
    <div class="mt-6 mb-12 flex flex-col justify-center gap-4 sm:flex-row">
      <a
        class="text-primary-200 cursor-pointer rounded-full bg-blue-600 px-6 py-3 text-center font-semibold hover:bg-blue-700"
        href="/contact/">Contact us</a
      >
      <a
        class="hover:bg-primary-500 ring-primary-500 text-primary-200 cursor-pointer rounded-full px-6 py-3 text-center font-semibold ring transition"
        href={bookingLink}>Book a call</a
      >
    </div>
    <Carousel />
    <div class="py-28 md:py-40" id="features">
      <h2
        class="text-primary-100 text-center text-3xl font-bold tracking-tighter text-balance sm:text-4xl"
      >
        Safety Consulting Done Right
      </h2>
      <p
        class="text-primary-400 mx-auto mt-4 max-w-prose leading-relaxed sm:text-lg"
      >
        Safety consultants and educators provide an expert perspective on
        systems assurance, safety engineering, and RAM engineering that save you
        time and money in developing the safest systems practical.
      </p>
    </div>
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-2">
      <div class="flex flex-col justify-center">
        <h2
          class="text-primary-100 text-3xl font-bold tracking-tighter text-balance sm:text-4xl"
        >
          Making safety more accessible
        </h2>
        <div class="text-primary-300 mt-6 flex lg:mt-10">
          <div class="mr-4 flex flex-col items-center">
            <div>
              <div class="flex items-center justify-center">
                <svg
                  class="h-10 w-10 rounded-full border-2 border-blue-600 p-2"
                  viewBox="0 0 24 24"
                  data-icon="tabler:arrow-down"
                  height="1em"
                  width="1em"
                  ><path
                    d="M12 5v14m6-6l-6 6m-6-6l6 6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    fill="none"
                    stroke="currentColor"></path></svg
                >
              </div>
            </div>
            <div class="h-full w-0.5 bg-blue-700"></div>
          </div>
          <div class="pt-2 pb-8">
            <p class="sm:text-lg">Reduce Cost</p>
          </div>
        </div>
        <div class="text-primary-300 flex">
          <div class="mr-4 flex flex-col items-center rtl:mr-0 rtl:ml-4">
            <div>
              <div class="flex items-center justify-center">
                <svg
                  class="h-10 w-10 rounded-full border-2 border-blue-600 p-2"
                  viewBox="0 0 24 24"
                  height="1em"
                  width="1em"
                >
                  <path
                    d="M12 5v14m6-8l-6-6m-6 6l6-6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    fill="none"
                    stroke="currentColor"></path></svg
                >
              </div>
            </div>
            <div class="h-full w-0.5 bg-blue-700"></div>
          </div><div class="pt-2 pb-8">
            <p class="sm:text-lg">Accelerate Safety Development</p>
          </div>
        </div><div class="text-primary-300 flex">
          <div class="mr-4 flex flex-col items-center rtl:mr-0 rtl:ml-4">
            <div>
              <div class="flex items-center justify-center">
                <svg
                  class="h-10 w-10 rounded-full border-2 border-blue-600 p-2"
                  viewBox="0 0 24 24"
                  height="1em"
                  width="1em"
                  ><path
                    d="M12 5v14m6-8l-6-6m-6 6l6-6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    fill="none"
                    stroke="currentColor"></path></svg
                >
              </div>
            </div>
          </div><div class="pt-1">
            <p class="sm:text-lg">Educate and Simplify</p>
          </div>
        </div>
      </div>
      <Image
        src={safetyImage}
        alt="Man carrying a hard hat"
        class="w-full rounded-lg"
        layout="full-width"
      />
    </div>
    <div class="py-28 md:py-40">
      <h2
        class="text-primary-100 text-center text-3xl font-bold tracking-tighter text-balance sm:text-4xl"
      >
        Save Time. Save Money.
      </h2>
      <p
        class="text-primary-400 mx-auto mt-4 max-w-prose leading-relaxed text-pretty sm:text-lg"
      >
        CSA has the <span class="text-primary-200 font-semibold"
          >experience</span
        > and <span class="text-primary-200 font-semibold">expertise</span> to discover
        design concerns sooner leading to a smaller cost to correct, saving you time
        and money.
      </p>
    </div>

    <div class="grid grid-cols-1 gap-12 lg:grid-cols-2">
      <div class="flex flex-col justify-center lg:order-2">
        <p class="font-bold tracking-wide text-blue-500 uppercase">
          Industry Expertise
        </p>
        <h2
          class="text-primary-100 mt-2 text-3xl font-bold tracking-tighter text-balance sm:text-4xl"
        >
          Rail
        </h2>
        <ol class="text-primary-300 mt-6 lg:mt-10">
          <div class="flex">
            <div class="mr-4 flex flex-col items-center rtl:mr-0 rtl:ml-4">
              <div>
                <div class="flex items-center justify-center">
                  <svg
                    class="h-10 w-10 rounded-full border-2 border-blue-600 p-2"
                    viewBox="0 0 24 24"
                    data-icon="tabler:check"
                    height="1em"
                    width="1em"
                    ><symbol id="ai:tabler:check"
                      ><path
                        d="m5 12l5 5L20 7"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        fill="none"
                        stroke="currentColor"></path></symbol
                    ><use xlink:href="#ai:tabler:check"></use></svg
                  >
                </div>
              </div><div class="h-full w-0.5 bg-blue-600"></div>
            </div><div class="pt-1 pb-8">
              <p class="sm:text-lg">Commuter | Freight | Transit | Autonomy</p>
            </div>
          </div><div class="flex">
            <div class="mr-4 flex flex-col items-center rtl:mr-0 rtl:ml-4">
              <div>
                <div class="flex items-center justify-center">
                  <svg
                    class="h-10 w-10 rounded-full border-2 border-blue-600 p-2"
                    viewBox="0 0 24 24"
                    data-icon="tabler:check"
                    height="1em"
                    width="1em"><use xlink:href="#ai:tabler:check"></use></svg
                  >
                </div>
              </div><div class="h-full w-0.5 bg-blue-600"></div>
            </div><div class="pt-1 pb-8">
              <p class="sm:text-lg">Independent and Impartial</p>
            </div>
          </div><div class="flex">
            <div class="mr-4 flex flex-col items-center rtl:mr-0 rtl:ml-4">
              <div>
                <div class="flex items-center justify-center">
                  <svg
                    class="h-10 w-10 rounded-full border-2 border-blue-600 p-2"
                    viewBox="0 0 24 24"
                    data-icon="tabler:check"
                    height="1em"
                    width="1em"><use xlink:href="#ai:tabler:check"></use></svg
                  >
                </div>
              </div><div class="h-full w-0.5 bg-blue-600"></div>
            </div><div class="pt-1 pb-8">
              <p class="sm:text-lg">Systems and Safety Engineering</p>
            </div>
          </div><div class="flex">
            <div class="mr-4 flex flex-col items-center rtl:mr-0 rtl:ml-4">
              <div>
                <div class="flex items-center justify-center">
                  <svg
                    class="h-10 w-10 rounded-full border-2 border-blue-600 p-2"
                    viewBox="0 0 24 24"
                    data-icon="tabler:check"
                    height="1em"
                    width="1em"><use xlink:href="#ai:tabler:check"></use></svg
                  >
                </div>
              </div>
            </div><div class="pt-1">
              <p class="sm:text-lg">
                Safety Analysis | Safety Assessment | System Reliability
                Analysis | Safety Lifecycle Management
              </p>
            </div>
          </div>
        </ol>
      </div>
      <Image
        src={trainImage}
        alt="illustration of a train"
        layout="full-width"
        class="w-full rounded-lg"
      />
    </div>
    <div class="mt-28 grid grid-cols-1 gap-12 lg:mt-40 lg:grid-cols-2">
      <div class="flex flex-col justify-center">
        <p class="font-bold tracking-wide text-blue-500 uppercase">
          Industry Expertise
        </p>
        <h2
          class="text-primary-100 mt-2 text-3xl font-bold tracking-tighter text-balance sm:text-4xl"
        >
          Robotics
        </h2>
        <div class="text-primary-300 mt-6 lg:mt-10">
          <div class="flex">
            <div class="mr-4 flex flex-col items-center rtl:mr-0 rtl:ml-4">
              <div>
                <div class="flex items-center justify-center">
                  <svg
                    class="h-10 w-10 rounded-full border-2 border-blue-600 p-2"
                    viewBox="0 0 24 24"
                    data-icon="tabler:check"
                    height="1em"
                    width="1em"
                    ><symbol id="ai:tabler:check"
                      ><path
                        d="m5 12l5 5L20 7"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        fill="none"
                        stroke="currentColor"></path></symbol
                    ><use xlink:href="#ai:tabler:check"></use></svg
                  >
                </div>
              </div><div class="h-full w-0.5 bg-blue-600"></div>
            </div><div class="pt-1 pb-8">
              <p class="leading-relaxed sm:text-lg">
                Technical experts in functional safety and product safety -
                Industrial robotics | AMR | work cell | heavy machinery
              </p>
            </div>
          </div><div class="flex">
            <div class="mr-4 flex flex-col items-center rtl:mr-0 rtl:ml-4">
              <div>
                <div class="flex items-center justify-center">
                  <svg
                    class="h-10 w-10 rounded-full border-2 border-blue-600 p-2"
                    viewBox="0 0 24 24"
                    data-icon="tabler:check"
                    height="1em"
                    width="1em"><use xlink:href="#ai:tabler:check"></use></svg
                  >
                </div>
              </div><div class="h-full w-0.5 bg-blue-600"></div>
            </div><div class="pt-1 pb-8">
              <p class="leading-relaxed sm:text-lg">
                Vast experience in many globally accepted safety analysis
                techniques
              </p>
            </div>
          </div><div class="flex">
            <div class="mr-4 flex flex-col items-center rtl:mr-0 rtl:ml-4">
              <div>
                <div class="flex items-center justify-center">
                  <svg
                    class="h-10 w-10 rounded-full border-2 border-blue-600 p-2"
                    viewBox="0 0 24 24"
                    data-icon="tabler:check"
                    height="1em"
                    width="1em"><use xlink:href="#ai:tabler:check"></use></svg
                  >
                </div>
              </div><div class="h-full w-0.5 bg-blue-600"></div>
            </div><div class="pt-1 pb-8">
              <p class="leading-relaxed sm:text-lg">
                Leverage extensive experiences in systems engineering and safety
                engineering
              </p>
            </div>
          </div><div class="flex">
            <div class="mr-4 flex flex-col items-center rtl:mr-0 rtl:ml-4">
              <div>
                <div class="flex items-center justify-center">
                  <svg
                    class="h-10 w-10 rounded-full border-2 border-blue-600 p-2"
                    viewBox="0 0 24 24"
                    data-icon="tabler:check"
                    height="1em"
                    width="1em"><use xlink:href="#ai:tabler:check"></use></svg
                  >
                </div>
              </div>
            </div><div class="pt-1">
              <p class="leading-relaxed sm:text-lg">
                Achieve compliance faster with CSA - ISO 13849 | IEC 61508 | IEC
                62061 | ISO 26262
              </p>
            </div>
          </div>
        </div>
      </div>
      <Image
        src={weldingRobotImage}
        alt="Welding robot arm"
        class="w-full rounded-lg"
        layout="full-width"
      />
    </div>
    <div class="gap-12 lg:mt-40 lg:grid lg:grid-cols-2">
      <div class="py-28 lg:p-0">
        <h2
          class="text-primary-100 text-3xl font-bold tracking-tighter text-balance sm:text-4xl"
        >
          Services
        </h2>
        <p
          class="text-primary-400 mt-4 max-w-prose leading-relaxed text-pretty sm:text-lg"
        >
          Whether you are searching for guidance and advice, support in document
          creation and safety analyses, or corporate training, CSA is here to
          serve.
        </p>
        <a
          href="/services/"
          class="text-primary-100 mt-6 inline-block cursor-pointer rounded-full bg-blue-600 px-6 py-3 text-center font-semibold hover:bg-blue-700"
          >Services</a
        >
      </div>
      <ol class="counter flex flex-col gap-8 sm:text-lg">
        <li>
          <h3 class="text-primary-100 mb-3 font-semibold">
            Strategic Certification Consulting
          </h3>
          <p class="text-primary-400 leading-relaxed">
            Provide advice and direction on historically successful project
            planning strategies
          </p>
        </li>
        <li>
          <h3 class="text-primary-100 mb-3 font-semibold">
            Safety Program Support
          </h3><p class="text-primary-400 leading-relaxed">
            Demonstrate and perform complex safety analysis and generate safety
            deliverables
          </p>
        </li>
        <li>
          <h3 class="text-primary-100 mb-3 font-semibold">Training</h3><p
            class="text-primary-400 leading-relaxed"
          >
            Educate teams and individuals on the skills required for every
            aspect of the safety lifecycle
          </p>
        </li>
      </ol>
    </div>
    <div
      class="bg-primary-800 border-primary-700 mt-28 flex flex-col rounded-lg border p-8 sm:flex-row sm:items-center sm:justify-between lg:mt-40"
    >
      <div>
        <h2
          class="text-primary-100 text-2xl font-bold tracking-tighter text-balance"
        >
          Contact us today
        </h2>
        <p
          class="text-primary-400 mt-2 max-w-prose leading-relaxed text-pretty sm:text-lg"
        >
          Find out what CSA can do for you
        </p>
      </div>
      <a
        class="text-primary-100 mt-4 inline-block cursor-pointer rounded-full bg-blue-600 px-6 py-3 text-center font-semibold hover:bg-blue-700 sm:mt-0"
        href="/contact/">Contact us</a
      >
    </div>
  </div>
</Layout>
<style>
  .counter {
    counter-reset: features-counter;
  }

  .counter li {
    counter-increment: features-counter;
    padding-left: calc(var(--spacing) * 20);
    position: relative;
  }

  .counter li::before {
    position: absolute;
    left: 0;
    content: counter(features-counter);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--spacing) * 12);
    height: calc(var(--spacing) * 12);
    background: var(--color-primary-100);
    color: var(--color-blue-600);
    font-weight: 600;
    border-radius: calc(infinity * 1px);
    border: 2px solid var(--color-blue-600);
  }
</style>
