---
import Layout from "~/layouts/Layout.astro";
import { Picture } from "astro:assets";
import skylineImage from "~/assets/skyline.webp";
---

<Layout title="Industries — Critical Systems Analysis">
  <div class="mx-auto max-w-7xl px-8 pb-16">
    <h1
      class="text-primary-100 mt-16 text-center text-4xl font-bold tracking-tight sm:mt-32 md:text-5xl"
    >
      Industries
    </h1>
    <p
      class="text-primary-400 mx-auto mt-6 max-w-prose leading-relaxed sm:text-lg"
    >
      CSA has contributed to projects in many industries including rail,
      robotics, industrial machinery and autonomous vehicles. Learn more about
      the projects we have worked on in the <a
        href="/experience/"
        class="text-blue-400 underline underline-offset-2 hover:text-blue-500"
        >experience page</a
      >.
    </p>
    <div class="my-8 flex flex-col justify-center gap-4 sm:flex-row">
      <a
        class="hover:bg-primary-500 ring-primary-500 text-primary-200 block cursor-pointer rounded-full px-6 py-3 text-center font-semibold ring transition"
        href="#rail">Rail Safety</a
      >
      <a
        class="hover:bg-primary-500 ring-primary-500 text-primary-200 block cursor-pointer rounded-full px-6 py-3 text-center font-semibold ring transition"
        href="#robotics">Robotics Safety</a
      >
    </div>
    <Picture
      src={skylineImage}
      class="mx-auto mt-8 aspect-square w-full max-w-lg rounded-lg object-cover sm:aspect-video sm:max-w-3xl"
      alt="Skyline of a city"
      formats={["webp", "avif"]}
    />
    <div class="mt-28 grid grid-cols-1 gap-8 md:grid-cols-2">
      <div class="flex items-start gap-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-8 shrink-0 fill-none stroke-current text-blue-500"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <path d="M21 13c0-3.87-3.37-7-10-7H3m0 9h16a2 2 0 0 0 2-2"
          ></path><path d="M3 6v5h17.5M3 11v4m5-4V6m5 5V6.5M3 19h18"
          ></path></svg
        >
        <article>
          <h2 class="text-primary-100 text-lg font-semibold tracking-tight">
            Rail Safety
          </h2>
          <p class="text-primary-400 mt-2 leading-relaxed">
            The rail industry is highly regulated and requires rigorous analysis
            to comply with safety requirements. CSA has long been involved in
            the development and integration of processor-based fail-safe train
            control systems.
          </p>
        </article>
      </div>
      <div class="flex items-start gap-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="size-8 shrink-0 fill-current text-blue-500"
          ><path
            d="M9 12q.825 0 1.413-.587T11 10t-.587-1.412T9 8t-1.412.588T7 10t.588 1.413T9 12m6 0q.825 0 1.413-.587T17 10t-.587-1.412T15 8t-1.412.588T13 10t.588 1.413T15 12m-6 9v-4h2v4zm4 0v-4h2v4zm-8 0q-.825 0-1.412-.587T3 19V9q0-2.5 1.75-4.25T9 3h6q2.5 0 4.25 1.75T21 9v10q0 .825-.587 1.413T19 21h-2v-4q0-.825-.587-1.412T15 15H9q-.825 0-1.412.588T7 17v4z"
          ></path></svg
        >
        <article>
          <h2 class="text-primary-100 text-lg font-semibold tracking-tight">
            Robotics Safety
          </h2>
          <p class="text-primary-400 mt-2 leading-relaxed">
            The application of safety in robotic systems is complex and rapidly
            evolving. There are numerous standards for each technology class and
            new standards are being released every year, it can be difficult to
            stay up to date with the state-of-the-art.
          </p>
        </article>
      </div>
    </div>
    <p
      class="pt-24 font-bold tracking-wide text-blue-500 uppercase sm:pt-36"
      id="robotics"
    >
      What we do
    </p>
    <h2
      class="text-primary-100 mt-1 text-3xl font-bold tracking-tighter text-balance sm:text-4xl"
    >
      Robotics Services
    </h2>
    <div class="mt-6 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      <article class="bg-primary-800 border-primary-700 rounded-lg border p-6">
        <h2 class="text-primary-100 text-lg font-semibold tracking-tight">
          Safety Trainings
        </h2>
        <ul class="text-primary-400 mt-3 flex flex-col gap-1 leading-relaxed">
          <li>ISO 13849 | IEC 61508 | IEC 62061 | ISO 26262</li>
          <li>Risk Assessment | FMEA | FMEDA | FTA</li>
          <li>Tailored trainings available</li>
        </ul>
      </article>
      <article class="bg-primary-800 border-primary-700 rounded-lg border p-6">
        <h2 class="text-primary-100 text-lg font-semibold tracking-tight">
          Functional Safety Management
        </h2>
        <ul class="text-primary-400 mt-3 flex flex-col gap-1 leading-relaxed">
          <li>One-time or on demand project planning guidance</li>
          <li>Dedicated safety manager to lead project safety efforts</li>
          <li>Certification guidance and support</li>
        </ul>
      </article>
      <article class="bg-primary-800 border-primary-700 rounded-lg border p-6">
        <h2 class="text-primary-100 text-lg font-semibold tracking-tight">
          Work Products Creation
        </h2>
        <ul class="text-primary-400 mt-3 flex flex-col gap-1 leading-relaxed">
          <li>Temporary safety engineering to support project peak demand</li>
          <li>Risk Assessment | FMEA | FMEDA | FTA</li>
          <li>Tailored trainings available</li>
        </ul>
      </article>
    </div>
    <p class="mt-24 font-bold tracking-wide text-blue-500 uppercase sm:mt-36">
      What we do
    </p>
    <h2
      class="text-primary-100 mt-1 text-3xl font-bold tracking-tighter text-balance sm:text-4xl"
    >
      Robotics Standards
    </h2>
    <ul class="mt-6 grid gap-8 sm:grid-cols-2">
      <li class="bg-primary-800 border-primary-700 rounded-lg border p-6">
        <h3 class="text-primary-100 text-lg font-semibold tracking-tight">
          ISO 13849
        </h3>
        <p class="text-primary-400 mt-1 leading-relaxed">
          Safety of Machinery - SRP/CS
        </p>
      </li>
      <li class="bg-primary-800 border-primary-700 rounded-lg border p-6">
        <h3 class="text-primary-100 text-lg font-semibold tracking-tight">
          ISO 12100
        </h3>
        <p class="text-primary-400 mt-1 leading-relaxed">
          Guide for Risk Assessments
        </p>
      </li>
      <li class="bg-primary-800 border-primary-700 rounded-lg border p-6">
        <h3 class="text-primary-100 text-lg font-semibold tracking-tight">
          ANSI/ASME B20.1
        </h3>
        <p class="text-primary-400 mt-1 leading-relaxed">
          Statdard for Conveyors
        </p>
      </li>
      <li class="bg-primary-800 border-primary-700 rounded-lg border p-6">
        <h3 class="text-primary-100 text-lg font-semibold tracking-tight">
          ISO 3691-4
        </h3>
        <p class="text-primary-400 mt-1 leading-relaxed">
          Driverless industrial trucks and their systems
        </p>
      </li>
      <li class="bg-primary-800 border-primary-700 rounded-lg border p-6">
        <h3 class="text-primary-100 text-lg font-semibold tracking-tight">
          IEC 62061
        </h3>
        <p class="text-primary-400 mt-1 leading-relaxed">
          Safety of machinery: Functional safety of E/E/PE control systems
        </p>
      </li>
      <li class="bg-primary-800 border-primary-700 rounded-lg border p-6">
        <h3 class="text-primary-100 text-lg font-semibold tracking-tight">
          ISO 14119
        </h3>
        <p class="text-primary-400 mt-1 leading-relaxed">
          Safety of machinery — Interlocking devices associated with guards
        </p>
      </li>
      <li class="bg-primary-800 border-primary-700 rounded-lg border p-6">
        <h3 class="text-primary-100 text-lg font-semibold tracking-tight">
          IEC 61496
        </h3>
        <p class="text-primary-400 mt-1 leading-relaxed">
          Safety of machinery - Electro-sensitive protective equipment
        </p>
      </li>
      <li class="bg-primary-800 border-primary-700 rounded-lg border p-6">
        <h3 class="text-primary-100 text-lg font-semibold tracking-tight">
          IEC 61508
        </h3>
        <p class="text-primary-400 mt-1 leading-relaxed">
          Functional Safety of Safety Related Control Systems
        </p>
      </li>
    </ul>
    <p
      class="pt-24 font-bold tracking-wide text-blue-500 uppercase sm:pt-36"
      id="rail"
    >
      What we do
    </p>
    <h2
      class="text-primary-100 mt-1 text-3xl font-bold tracking-tighter text-balance sm:text-4xl"
    >
      Rail Services
    </h2>
    <div class="mt-6 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      <article class="bg-primary-800 border-primary-700 rounded-lg border p-6">
        <h2 class="text-primary-100 text-lg font-semibold tracking-tight">
          Functional Safety Consulting
        </h2>
        <ul class="text-primary-400 mt-3 flex flex-col gap-1 leading-relaxed">
          <li>Assist in the development and execution of safety programs</li>
          <li>Assure adherence to relevant safety standards</li>
        </ul>
      </article>
      <article class="bg-primary-800 border-primary-700 rounded-lg border p-6">
        <h2 class="text-primary-100 text-lg font-semibold tracking-tight">
          RAM Consulting
        </h2>
        <ul class="text-primary-400 mt-3 flex flex-col gap-1 leading-relaxed">
          <li>
            Perform reliability, availability, and maintainability analyses
          </li>
          <li>
            Support new product/system development or larger systems engineering
            project
          </li>
        </ul>
      </article>
      <article class="bg-primary-800 border-primary-700 rounded-lg border p-6">
        <h2 class="text-primary-100 text-lg font-semibold tracking-tight">
          RAMS Training
        </h2>
        <ul class="text-primary-400 mt-3 flex flex-col gap-1 leading-relaxed">
          <li>Virtual and in-person training</li>
          <li>
            Applicable safety and reliability standards and specific analyses
            methodologies
          </li>
        </ul>
      </article>
    </div>
  </div>
</Layout>
