---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Thank you — Critical Systems Analysis">
  <section class="flex flex-col items-center justify-center px-6 py-28 lg:px-8">
    <h1
      class="text-primary-100 mt-4 text-5xl font-semibold tracking-tight text-balance sm:text-7xl"
    >
      Thank you!
    </h1>
    <p class="text-primary-400 mt-6 max-w-prose sm:text-lg">
      We will get back to you as soon as possible.
    </p>
    <a
      href="/"
      class="text-primary-100 mt-6 cursor-pointer rounded-full bg-blue-600 px-6 py-3 text-center font-semibold transition hover:bg-blue-700"
      >Back to homepage</a
    >
  </section>
</Layout>
<script>
  import JSConfetti from "js-confetti";
  const jsConfetti = new JSConfetti();
  jsConfetti.addConfetti();
</script>
