---
/**
 * If you have a collection named "events" in src/content/config.ts, ensure it is exported.
 * Otherwise, define the props shape directly here:
 */
 type Props = {
  name: string;
  startDate: Date;
  paidEvent: boolean;
  slug: string;
  description: string;
  endDate?: Date;
  status: string;
  industryEvent?: boolean;
  exhibitor?: boolean;
};

const {
  name,
  startDate,
  paidEvent,
  slug,
  description,
  endDate,
  status,
  industryEvent,
  exhibitor,
} = Astro.props;
---

<article
  class="group bg-primary-800 border-primary-700 h-full rounded-lg border p-6"
>
  <div class="flex items-baseline justify-between">
    <time class="text-primary-400 block tracking-wide uppercase"
      >{startDate.toLocaleDateString("en", { dateStyle: "short" })}
      {
        endDate
          ? ` — ${endDate.toLocaleDateString("en", { dateStyle: "short" })}`
          : ""
      }
    </time>

    <span
      class="rounded-md border border-blue-700 bg-blue-800 px-3 py-0.5 text-sm text-blue-100 uppercase"
      >{
        status === "Sold out" ? "Sold Out" : `${paidEvent ? "Paid" : "Free"}`
      }</span
    >
  </div>
  <div class="mt-2 flex flex-wrap gap-2">
    {
      industryEvent && (
        <span class="inline-block rounded-md border border-sky-700 bg-sky-800 px-3 py-0.5 text-sm text-blue-100 uppercase">
          Industry Event
        </span>
      )
    }
    {
      exhibitor && (
        <span class="inline-block rounded-md border border-sky-700 bg-sky-800 px-3 py-0.5 text-sm text-blue-100 uppercase">
          Exhibitor
        </span>
      )
    }
  </div>
  <h2
    class="text-primary-100 mt-2 block text-lg font-semibold group-hover:text-blue-500"
  >
    {name}
  </h2>
  <p class="text-primary-400 mt-2 block">{description}</p>
  <a
    class="text-primary-100 mt-3 inline-block cursor-pointer rounded-full bg-blue-600 px-6 py-2 text-center font-semibold before:absolute before:inset-0 hover:bg-blue-700"
    href={`/events-webinars/${slug}/`}>Learn more</a
  >
</article>
